.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  grid-gap: 1em;
  align-items: center;
  justify-items: center;
}

#one {
  color: blue;
}

#two {
  color: red;
}

#three {
  color: green;
}

#four {
  color: black;
}

.home {
}
.carnival {
}
